@using Hoshiko.Domain.Entities
@model IEnumerable<Stage>


<h2>Stages</h2>

<ul>
    @foreach (var stage in Model) {
        <li>
            <a asp-controller="Stages" asp-action="Details" asp-route-id="@stage.Id">@stage.Name</a>
        </li>
    }
</ul>