@using Hoshiko.Core.Interfaces
@inject ICurrentUserService CurrentUser
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @if(CurrentUser.IsAuthenticated) {
        <div class="mt-4">
            <h3>شروع بازی</h3>
            <a class="btn btn-primary" asp-controller="Stages" asp-action="Index">Start Game</a>
        </div>
    }
</div>
